p {
	text-align: center;
	color: yellow;
	font-size: 16px
}
.social-media-icons ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.social-media-icons a { 
  display: inline-block;
  text-decoration: none;
  padding: 7px;
}

.social-media-icons a:nth-child(1) i {
  color: #506DED;
}

.social-media-icons a:nth-child(2) i {
  color: #4099FF;
}

.social-media-icons a:nth-child(3) i {
  color: #b31217;
}

.social-media-icons a:nth-child(4) i {
  color: #FF6600;
}
.social-media-icons a:nth-child(5) i {
  color: #E942D5;
}
.social-media-icons a:nth-child(6) i {
  color: #1638CD;
}
.social-media-icons a i:hover{
  color: black;
}
/*================================
  Navbar Style Start
================================*/
.navbar {
  padding: 0;
  z-index: 99;
}

.navbar .container {
  display: block;
}

.navbar .navbar-brand {
  padding: 2em 1em 3em;
  margin-right: 0;
  border-radius: 2em;
  background-color: var(--c_indigo);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  filter: var(--filter_dropShadow);
  box-shadow: var(--box_shadow);
  font-size: inherit;
  display: block;
}

.navbar .navbar-brand:hover {
  background-color: var(--c_salmon);
}

.navbar .navbar-brand img {
  max-width: 10em;
}

.navbar .navbar-nav {
  background-color: var(--c_indigo);
  border-radius: 2em;
  filter: var(--filter_dropShadow);
  box-shadow: var(--box_shadow);
  padding: 0 1em;
  min-height: 6em;
}

.navbar .navbar-nav .nav-item {
  padding: 1.5em 1em;
}

.navbar .navbar-nav .nav-item .nav-link {
  padding: 0;
  font-size: 1.6em;
  font-weight: 500;
  color: var(--c_white);
}

.navbar .navbar-nav .nav-item .nav-link:hover {
  color: var(--c_salmon);
}

.navbar .form-check-input~label {
  background-color: var(--c_indigo);
  border-radius: 2em;
  filter: var(--filter_dropShadow);
  box-shadow: var(--box_shadow);
  padding: 0 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 6em;
  width: 7em;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar .form-check-input~label .line {
  width: 25px;
  height: 2px;
  background-color: var(--c_white);
  display: block;
  margin: 2.5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* .navbar .form-check-input ~ label .line:last-child {
  margin-bottom: 0;
} */
.navbar .form-check-input:checked~label {
  animation: smallbig 0.6s forwards;
}

@keyframes smallbig {

  0%,
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
}

.navbar .form-check-input:checked~label .line:nth-child(1),
.navbar .form-check-input:checked~label .line:nth-child(2),
.navbar .form-check-input:checked~label .line:nth-child(3) {
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.navbar .form-check-input:checked~label .line:nth-child(2) {
  opacity: 0;
}

.navbar .form-check-input:checked~label .line:nth-child(1) {
  -webkit-transform: translateY(7px) rotate(45deg);
  -ms-transform: translateY(7px) rotate(45deg);
  -o-transform: translateY(7px) rotate(45deg);
  transform: translateY(7px) rotate(45deg);
}

.navbar .form-check-input:checked~label .line:nth-child(3) {
  -webkit-transform: translateY(-7px) rotate(-45deg);
  -ms-transform: translateY(-7px) rotate(-45deg);
  -o-transform: translateY(-7px) rotate(-45deg);
  transform: translateY(-7px) rotate(-45deg);
}


/*================================
  Navbar Style End
================================*/